body{
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a{
    color: purple;
}

#frm{
    border: solid gray 1px;
    color: black;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
}

button {
    color: #fff;
    background: #337ab7;
    padding: 5px;
    margin-left: 69%;
}

#container{
    color: black;
    background: rgb(237, 240, 239);
    padding: 5px;
    border: solid gray 1px;
    border-radius: 5px;
}

#header{
    background: rgb(233, 240, 252);
}

#header: :after {
    content: '';
    display: table;
    clear: both;
}

#title{
    float: left;
}

.nav-header-main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-header-main a {
    text-decoration: none;
    color: rgb(18, 50, 110);
}

#footer{
    background: gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}